/* 미디어 커리 */

.flex-container {
  display: flex;
  flex-direction: row;
  background-color: bisque;
  gap: 2rem;
}
.box {
  width: 100px;
  height: 100px;
  background-color: lightblue;
}
@media (max-width: 767px) {
  .flex-container {
    flex-direction: column;
  }
}
