.parent {
  background-color: aquamarine;
  height: 600px;
}

.child-1 {
  background-color: rosybrown;
  width: 50%;
  height: 50%;
}
.child-2 {
  background-color: burlywood;
  width: 25%;
  height: 50%;
}

.parent-font {
  font-size: 30px;
}

.child-font-1 {
  background-color: rosybrown;
  font-size: 0.5em;
}
.child-font-2 {
  background-color: burlywood;
  font-size: 2em;
}
.child-child-font-2 {
  font-size: 2em;
}
.rem-font-1 {
  font-size: 0.5rem;
}
.rem-font-1 {
  font-size: 2rem;
}
